<div class="new">
  <h3>New Movie</h3>
  <form class="posts_form" action="/posts" method="post">
    <label>Movie Name</lable>
      <input type="text" name="post[movieName]" value="">
    <label>Release Date</lable>
      <input type="text" name="post[releaseDate]" value="">
    <label>Tags</lable>
        <input type="text" name="post[tags]" value="">
    <label>Url</lable>
          <input type="text" name="post[url]" value="">
    <label>Actors</lable>
          <input type="text" name="post[actors]" value="">
          <button type="submit">Submit</button>
        </form>
        <a href="/posts"><button>Back</button><a>
        </div>
